
#include <dt-bindings/gpio/gpio.h>

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            pinmux = <I2C0_SDA_P20>, <I2C0_SCL_P21>;
            input-enable;
            input-schmitt-enable;
        };
    };

    i2c1_default: i2c1_default {
        group1 {
            pinmux = <I2C1_SDA_P10>, <I2C1_SCL_P11>;
            input-enable;
            input-schmitt-enable;
        };
    };

    spi0_default: spi0_default {
        group1 {                          /* outputs */
        pinmux = <SPI0_SCK_P18>, <SPI0_TX_P19>;
        };
        group2 {                          /* input */
        pinmux = <SPI0_RX_P16>;
            input-enable;
        };
    };
};

&i2c1 {
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    i2c1_peripheral_23: i2c1_peripheral_23@23 {
        compatible = "vnd,mcp23017";
        reg = <0x23>;                     /* 7-bit slave address */
    };

    i2c1_peripheral_20: i2c1_peripheral_20@20 {
        compatible = "vnd,mcp23017";
        reg = <0x20>;
    };

    i2c1_peripheral_21: i2c1_peripheral_21@21 {
        compatible = "vnd,mcp23017";
        reg = <0x21>;                     /* 7-bit slave address */
    };
};

&i2c0 {
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    i2c0_peripheral_20: i2c0_peripheral_20@20 {
        compatible = "vnd,mcp23017";
        reg = <0x20>;
    };

    i2c0_peripheral_21: i2c0_peripheral_21@21 {
        compatible = "vnd,mcp23017";
        reg = <0x21>;                     /* 7-bit slave address */
    };

    i2c0_peripheral_23: i2c0_peripheral_23@23 {
        compatible = "vnd,mcp23017";
        reg = <0x23>;                     /* 7-bit slave address */
    };

    i2c0_peripheral_24: i2c0_peripheral_24@24 {
        compatible = "vnd,mcp23017";
        reg = <0x24>;                     /* 7-bit slave address */
    };


};


&spi0 {
    status        = "okay";
    pinctrl-0     = <&spi0_default>;
    pinctrl-names = "default";
    cs-gpios      = <&gpio0 17 GPIO_ACTIVE_LOW>;

    spi_dev0: spi_dev0@0 {
        compatible        = "vnd,spi-device";
        reg               = <0>;
        spi-max-frequency = <4000000>;
    };
};

/ {
    gpios {
        compatible = "gpio-leds";
        rst_n: rstn {
            gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
        };
    };


    dled_0 {
        compatible = "gpio-leds";
        dled0: dled_0 {
            gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
        };
    };

    dled_1 {
        compatible = "gpio-leds";
        dled1: dled_1 {
            gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
        };
    };



    button_0 {
        compatible = "gpio-keys";
        button0: button_0 {
            gpios = <&gpio0 3 (GPIO_ACTIVE_LOW)>;
        };
    };

    button_1 {
        compatible = "gpio-keys";
        button1: button_1 {
            gpios = <&gpio0 22 (GPIO_ACTIVE_LOW)>;
        };
    };



    aliases {
        rstn = &rst_n;
        sw0 = &button0;
        sw1 = &button1;
        led0 = &dled0;
        led1 = &dled1;
    };
};
